<mat-toolbar color="primary" class="navbar">
  <div class="nav-left">
    <span class="brand" routerLink="/dashboard"><mat-icon>hub</mat-icon><span>Angular JWT</span></span>
    <nav class="nav-links">
      <a *ngFor="let l of links" [routerLink]="l.path" routerLinkActive="active" class="nav-link">
        <mat-icon>{{ l.icon }}</mat-icon><span>{{ l.label }}</span>
      </a>
    </nav>
  </div>
  <div class="nav-right">
    <span class="role-chip">{{ user?.role | titlecase }}</span>
    <button mat-button [matMenuTriggerFor]="userMenu" class="user-btn">
      <div class="avatar">{{ initials }}</div><span>{{ user?.firstName }}</span><mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <div class="menu-info"><strong>{{ user?.firstName }} {{ user?.lastName }}</strong><small>{{ user?.email }}</small></div>
      <mat-divider></mat-divider>
      <button mat-menu-item routerLink="/profile"><mat-icon>account_circle</mat-icon> Profile</button>
      <button mat-menu-item (click)="logout()" class="logout-btn"><mat-icon>logout</mat-icon> Sign Out</button>
    </mat-menu>
  </div>
</mat-toolbar>
